/* SECTION */

.section {
   @include vertical($site_width);
   @include clearfix;

   padding-top: 45px;

   &-introduse {
      @include percentage(670px);

      float: left;
   }

   &-title {
      font-size: 42px;
      font-family: $font_second;
      font-weight: 600;
      color: $black02;
      line-height: 1;
      letter-spacing: -4px;
      padding-bottom: 25px;

      .section-introduse & {
         border-bottom: 1px solid $white04;
         margin-bottom: 25px;
      }
   }

   &-image {
      @include image_block;

      &-wrapper {
         float: left;
         width: 220px;
         height: 180px;
         margin: 0 20px 10px 0;
         overflow: hidden;
      }
   }

   &-decsription {
      font-size: 14px;
      font-family: $font_main;
      color: $black03;
      font-style: italic;
      line-height: 1.5;

      & + & {
         margin-top: 15px;
         color: $grey02;
      }
   }

   &-subtitle {
      float: left;
      font-size: 14px;
      font-family: $font_main;
      color: $black02;
      font-weight: bold;
      line-height: 1.5;

      &-span {
         display: block;
         color: $grey02;
      }
   }

   &-testimonials {
      @include percentage(220px);

      float: right; 
      position: relative;
   }

   &-item {
      .section-decsription {
         background: $white03;
         padding: 25px 25px 40px;
         position: relative;
         margin-bottom: 25px;

         &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 30px;
            width: 25px;
            height: 20px;
            border-top: 20px solid $white03;
            border-bottom: 20px solid transparent;
            border-left: 20px solid transparent;
         }
      }
   }

   .owl-nav {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 5;
   }

   .owl-submit {
      display: inline-block;
      vertical-align: top;
      width: 32px;
      height: 32px;
      background: $green03;
      color: $white02;
      cursor: pointer;
      margin-left: 1px;

      &:hover {
         opacity: 0.6;
      }

      span {
         font-size: 0;
      }
   }
}

