/* SERVICES */

.services {
   @include vertical($site_width);

   &-title {
      width: 100%;
      font-size: 42px;
      font-family: $font_second;
      font-weight: normal;
      color: $black03;
      line-height: 1;
      letter-spacing: -3px;
      padding-bottom: 15px;
      border-bottom: 1px solid $white04;
      margin-bottom: 30px;
   }

   &-list {
      @include percentage(1000px);

      margin-top: -35px;

      &-wrapper {
         width: 100%;
         overflow: hidden;
      }
   }

   &-item {
      @include percentage(265px, 1000px);
      @include clearfix;

      display: inline-block;
      vertical-align: top;
      margin:  35px percentage(60px) 0 0;
   }

   &-link_image {
      float: left;

      &:before {
         display: block;
         width: 60px;
         height: 60px;
         font-size: 60px;
         color: $grey02;
      }
   }

   &-content {
      float: right;
      width: 190px;
   }

   &-subtitle {
      margin-bottom: 10px;
   }

   &-link {
      font-size: 21px;
      font-family: $font_second;
      font-weight: normal;
      color: $black03;
      line-height: 1.2;
   }

   &-description {
      font-size: 14px;
      font-family: $font_main;
      color: $grey02;
      font-style: italic;
      line-height: 1.5;
   }
}

