$site_width: 940px;

$font_main: 'Trebuchet MS', sans-serif;
$font_second: 'Open Sans', sans-serif;

// COLOR

$white01: #bbbbbb;
$white02: #ffffff;
$white03: #f5f5f5;
$white04: #e5e5e5;

$grey01: #666666;
$grey02: #696969;

$green01: #497e04;
$green02: #78a700;
$green03: #60b000;

$black01: #020202;
$black02: #262626;
$black03: #000000;

